{% extends 'index.html' %}
  {% block contenido %}
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Cuanto lo sentimos</h4>
        <h5 class="text-white uppercase">Actualmente nos encontramos mejorando el sitio, muchas gracias por la visita.</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="/static/images/header-img.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>500 Error</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="/">Volver al Inicio</a><i> / </i> 500 Error</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  <a href="#" class="scrollup"></a><!-- end scroll to top of the page-->
  {% endblock %}

