{% extends 'index.html' %}
{% block contenido %}
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">We Are Hasta</h4>
        <h5 class="text-white uppercase">Get Many More Features</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="images/header-img.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Blog 3 Columns</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="index.html">Home</a><i> / </i> <a href="index.html">Blog</a> <i> / </i> Blog 3 Columns</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-padding">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/02.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item--> 
        
        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/03.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item-->
        
        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/01.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item-->
        
        <div class="clearfix"></div>
        <div class="col-divider-margin-4"></div>

        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/04.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item--> 
        
        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/05.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item-->
        
        <div class="col-md-4 bmargin">
          <div class="blog-holder-12">
            <div class="image-holder">
              <div class="overlay bg-opacity-1">
                <div class="post-date-box three"> 25 <span>May, 2020</span> </div>
                <div class="post-date-box three four"> 25 <span>May, 2020</span> </div>
              </div>
              <img class="img-responsive" alt="" src="images/blog/06.jpg"> </div>
          </div>
          <div class="clearfix"></div>
          <br/>
          <a href="#">
          <h4 class="less-mar1">Vestibulum ante ipsum</h4>
          </a>
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
          <br/>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum</p>
          <br/>
          <a class="btn btn-border light btn-round btn-small" href="#">Read more</a> </div>
        <!--end item-->
        
        
        <div class="clearfix"></div>
        <br/>
        <div class=" divider-line solid light margin opacity-7"></div>
        <div class="col-md-12">
        
         <ul class="blog-pagenation">
          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li><a class="active" href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
        
        </div>

      </div>
    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>

{% endblock %}